<p id="notice"><%= notice %></p>

<h1>Matric School Reports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matric_school_reports.each do |matric_school_report| %>
      <tr>
        <td><%= link_to 'Show', matric_school_report %></td>
        <td><%= link_to 'Edit', edit_matric_school_report_path(matric_school_report) %></td>
        <td><%= link_to 'Destroy', matric_school_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matric School Report', new_matric_school_report_path %>
